<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Student Record Handling", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("New", "New", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li><a id="clearFilter" href="#" class = "nav-link">Clear/Search Filter</a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li><input id="searchInput" type="text" placeholder="Search..."/> <button id="searchButton">Search</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#searchButton").click(function () {
            var searchText = $("#searchInput").val().toLowerCase();
            $("table tbody tr").each(function () {
                var found = false;
                $(this).find("td").each(function () {
                    if ($(this).text().toLowerCase().indexOf(searchText) !== -1) {
                        found = true;
                        return false;
                    }
                });

                if (found) {
                    $(this).show();
                }
                else
                {
                    $(this).hide();
                }

            });
        });

        $('#clearFilter').click(function (event) {
            event.preventDefault();
            $("#searchInput").val('');
            $("table tbody tr").show();
        });

    </script>
</body>
</html>
